<!DOCTYPE html>
{% load url from future %}
{% load bootstrap_toolkit %}
<html lang="es">
<head>
	{% bootstrap_stylesheet_tag %}
	<title>
	{% block title %}
	{% endblock %}
	</title>
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
            padding-left: 25px;
        }
        footer {
            height: 5px;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    {% bootstrap_javascript_tag %}
    {% block extra_head %}{% endblock %}
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{% url 'polls:index' %}">Encuestas</a>
            <ul class="nav">
                <li><a href="{% url 'polls:index' %}" class="">Inicio</a></li>
                <li><a href="#">Perfil</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Acciones<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'polls:poll_create' %}">Crear encuesta</a></li>
                        <li><a href="{% url 'polls:index' %}">Votar</a></li>
                        {% comment %}<li><a href="{% url 'polls:edit_poll' %}">Modificar encuesta</a></li> {% endcomment %}
                        <li><a href="#">Buscar</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'polls:most_voted' %}">Mas votada</a></li>
                <li><a href="{% url 'polls:ranking' %}">Ranking</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="mini-layout-body">
    <div class="container">
    {% block message %}
        {% if message %}
            <div class="alert alert-block">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <h4>Error!</h4>
                {{ message }}
            </div>
            {% endif %}
    {% endblock %}

    {% block title_content %}
    {% endblock %}
        <div class="hero-unit">
        	{% block body %}
        		<p>
        			Empty Block
        		</p>
        	{% endblock %}
        </div>
    </div>
</div>
{% block footer %}
<footer class="navbar navbar-fixed-bottom modal-footer">
    <p>© Company 2013</p>
</footer>
{% endblock %}
</body>
</html>

