{% extends "polls/base.html" %}
{% load url from future %}
{% load bootstrap_toolkit %}

{% block title %}Votar!{% endblock %}
{% bootstrap_stylesheet_tag %}
{% block body %}
	<h2>{{ poll.question }}</h2>
	<form action="{% url 'polls:vote' poll_id=poll.id %}"
	      method="post" class="uniForm">
	    {% csrf_token %}
	    {% include "bootstrap_toolkit/form.html" %}
	    <input type="submit" value="Votar" class="btn btn-primary">
	</form>

	<a href="{% url 'polls:index' %}">Volver</a>
{% endblock %}
