{% extends "polls/base.html" %}
{% load url from future %}
{% load staticfiles %}
{% load bootstrap_toolkit %}

{% block title %}Editar encuesta{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>

<script type="text/javascript" src="{% static 'js/jquery.formset.min.js' %}"></script>

<script type="text/javascript">
    $(function() {
        $('#table tbody tr').formset({
            // For inline formsets, be sure to set the prefix, as the default prefix
            // ('form') isn't correct.
            // Django appears to generate the prefix from the lowercase plural
            // name of the related model, with camel-case converted to underscores.
            prefix: '{{ formset.prefix }}'
        })
    })
</script>
 <script>
    $(function() {
        $( "#sortable" ).sortable({
            stop: function(ui, event){
                $(".tr_sortable").each(function() {
                    var order = $(this).index();
                if ($("#id_choice_set-" + order + "-choice").val() != "") {
                    var id = '#id_choice_set-' + order + '-ORDER';
                    $(id).val(parseInt($('#choice_set-' + order).index()) + 1);
                }
            });
            }
        });
    });
</script>
<style type="text/css">
    .delete-row {
        margin-left:50px;
    }
    .controls {
    	float: left;
    }
    label[for$="ORDER"], input[id$="ORDER"], label[for$="choice"], label[for$="question"], .checkbox {
        display: none;
    }
</style>
{% endblock %}

{% block body %}

<form method="post" action="{% url 'polls:edit_poll' poll_id=poll.id %}" class="uniForm">
    <fieldset>
        {% csrf_token %}
        <strong>Titulo de encuesta:</strong>
        {% include "bootstrap_toolkit/form.html" %}
        <table id="table" class="table table-hover">
            <thead>
                <tr><th>Opciones:</th></tr>
            </thead>
            <tbody id="sortable">
                {% for form in formset.forms %}
                    <tr id="{{ form.prefix }}" class="tr_sortable">
                        <td>{% include "bootstrap_toolkit/form.html" %}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ formset.management_form }}
        <input type="submit" value="Submit" class="btn"/>
    </fieldset>
</form>
{% endblock %}