{% extends "polls/base.html" %}
{% load url from future %}
{% load bootstrap_toolkit %}
{% load bootstrap_pagination %}

{% block title %} Lo último en encuestas! {% endblock %}
{% block extra_head %}
<style type="text/css">
.poll {
    padding-right: 15px;
}
.polls {
    height: 100%;
}
</style>
{% endblock %}
{% block title_content %}
    <h1>Encuestas disponibles:</h1>
{% endblock %}
{% block body %}
{% if poll_list %}
    <table class="polls">
        <tbody>
            {% for poll in poll_list %}
                <tr>
                    <td><i class="icon-play"></i></td>
                    <td>
                    <a class="poll" href= "{% url 'polls:detail' poll_id=poll.id %}" >{{ poll.question }}</a>
                    </td>
                    <td>
                    <a href= "{% url 'polls:edit_poll' poll_id=poll.id %}" class="btn btn-info btn-small">Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {% if poll_list.has_previous %}
        <ul>
            <li class="active"><a href="?page={{ poll_list.previous_page_number }}">Anterior</a></li>
        </ul>
        {% endif %}
        <ul>
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">{{ poll_list.number }}</a></li>
        </ul>
        {% if poll_list.has_next %}
        <ul>
            <li class="disabled"><a href="#">&laquo;</a></li>
            <li class="active"><a href="?page={{ poll_list.next_page_number }}">Siguente</a></li>
        </ul>
        {% endif %}
    </div>
{% else %}
    <p>No hay encuestas disponibles para mostrar. Podes empezar creando una haciendo clic <a href="{% url 'polls:poll_create' %}">aca!</a></p>
{% endif %}
{% endblock %}
