{% extends "polls/base.html" %}
{% load url from future %}
{% load bootstrap_toolkit %}
{% load poll_tags %}

{% block title %}Mas votada!{% endblock %}
{% bootstrap_stylesheet_tag %}
{% block title_content %}
	<h2> {{ poll_list.0.question }}</h2>
{% endblock %}
{% block body %}
    {% if poll_list != None %}
        <ul>
        {% for choice in poll_list.0.choice_set.all %}
            <li>{{ choice.choice }} <br>Votos: {{ choice.votes }}
                {% porcentual_tag choice %}
             </li>
        {% endfor %}
        </ul>
	{% else %}
        <p>No hay encuestas para mostrar.</p>
	{% endif %}
{% endblock %}
