{% extends "polls/edit-poll.html" %}
{% load url from future %}
{% load staticfiles %}
{% load bootstrap_toolkit %}

{% block title %}Crear encuesta{% endblock %}
{% block body %}
<form method="post" action="{% url 'polls:poll_create' %}" class="uniForm">
	 <fieldset>
		<legend><h3>Crear Encuesta</h3></legend>
	{% csrf_token %}
    <strong>Titulo de encuesta:</strong>
    {% include "bootstrap_toolkit/form.html" %}
    <table id="table" class="table table-hover">
        <thead>
            <tr><th>Opciones:</th></tr>
        </thead>
        <tbody id="sortable">
            {% for form in formset.forms %}
            <tr id="{{ form.prefix }}" class="tr_sortable">
                <td>{% include "bootstrap_toolkit/form.html" %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {{ formset.management_form }}
    <input type="submit" value="Submit" class="btn"/>
</fieldset>
</form>
{% endblock %}