{% extends "polls/base.html" %}
{% load url from future %}
{% load bootstrap_toolkit %}

{% block title %}Mas votada!{% endblock %}
{% block extra_head %}
<style type="text/css">
    .table {
        width: 80%;
    }
</style>
{% endblock %}
{% bootstrap_stylesheet_tag %}
{% block title_content %}
<h1>Ranking de encuestas</h1>
{% endblock %}
{% block body %}
    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Pregunta</th>
                <th>Votos</th>
                <th>Creado</th>
            </tr>
        </thead>
        <tbody>
        {% for poll in poll_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ poll.question }}</td>
                <td>{{ poll.votes }}</td>
                <td>{{ poll.pub_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
