{% extends "polls/base.html" %}
{% load url from future %}
{% load poll_tags %}
{% block title %}Gracias por votar!{% endblock %}

{% block body %}
	<p><h3>Gracias por participar en la encuesta: </h3><strong>{{ poll }}</strong></p>
	<p>Cantidad de votos:</p>
	<ul>
        {% for choice in poll.choice_set.all %}
            <li style="padding-bottom:8px">{{ choice.choice }} <br>
            	<strong>votos: </strong>{{ choice.votes }}
                {% porcentual_tag choice %}
            </li>
        {% endfor %}
        </ul>
	</ul>

	<a href="{% url 'polls:index' %}"> Elegir otra encuesta</a>
{% endblock %}