{% extends "polls/base.html" %}
{% load url from future %}

{% block title %}Encuesta creada{% endblock %}
{% block body %}
	<h2>
		<p>Muchas gracias por crear una encuesta!</p>
	</h2>
	<p>Seguila y mira cuanto éxito tiene!</p>
{% endblock %}
